.Main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Main-app-bar {
    display: flex;
    flex-direction: row;
}

.Main-toolbar {
    display: flex;
    flex-direction: row;
}

.Logout-button {
    position: absolute;
    right: 10;
}

.Main-content-container {
    flex: 1
}