.Confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.Element-container {
    margin-bottom: 5px;
}

.Input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}